.movies-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(339px, 364px));
  column-gap: 24px;
  row-gap: 37px;
  justify-content: center;
}

@media screen and (max-width: 910px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
    column-gap: 30px;
    row-gap: 30px;
  }
}
