.login {
  box-sizing: border-box;
  width: 396px;
  margin: 0 auto;
}

.login__title {
  margin-top: 40px;
  margin-bottom: 0;
}

.login__form {
  margin-top: 40px;
}

.login__submit-btn {
  margin-top: 157px;
}

@media screen and (max-width: 576px) {
  .login {
    width: 260px;
  }

  .login__logo {
    margin: 0 auto;
  }

  .login__title {
    margin-top: 50px;
    text-align: center;
  }

  .login__form {
    margin-top: 80px;
  }

  .login__submit-btn {
    margin-top: 246px;
  }
}
